.editor{
    width: 100%;
    height: 100%;
    background-color: var(--editor-bg);
    /* overflow: scroll; */
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
 


.title{
    width: 100px;
    height : 40px;
    display: flex;
    position: sticky;
    top : 0;
    left: 0;
    /* float: inline-start; */
    
    color : var(--primary_font_color);
    justify-content: space-around;
    align-items: center;
    font-weight: 100;
    background-color: var(--title_bg);
    font-family: var(--fira);
    border-bottom: 2px solid yellow;
    cursor: pointer;
    font-size: 16px;
}

.icon-coverss{
  background-color: transparent;
  width : 35px;
  height : 40px;
  position: absolute;
  /* border : 1px solid yellow; */
  left:  100px;
  top: 0px;
  cursor: pointer;
  color : var(--primary_font_color);
  /* border-radius: 50%; */
  display:  flex;
  justify-content: center;
  align-items: center;
}

.icon-coverss:hover{
  background-color: var(--title_bg);

  /* border-bottom: 2px solid yellow!important; */
  /* border */
}


.icon{
    /* color: yellow; */
    font-size: 25px;

}

::-webkit-scrollbar {
    width: 10px;
    background-color: blue;
    height: 10px;
  }
   
::-webkit-scrollbar-track {
    background: var(--editor-bg);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
::-webkit-scrollbar-thumb {
    background: rgb(64, 64, 64);
    /* border: 3px solid blue; */
  }