@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins&display=swap');

:root{
  --primary_theme : #272822;
  --secondary_theme : #161613;
  --secondary_font_color : #9b9dad;
  --primary_font_color : #e7e7e9;
  --fira : 'Fira Code', monospace;
  --poppins : 'Poppins', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1d1e19;
}